body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
header {
    background: #FFFFFF;
}
nav {
    width: 80%;
    margin: 35px auto;
    border: 1px solid #0070C2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
}
.navbar {
    padding: 0;
    background: #0070C2;
    color: #FFFFFF;
}
.navbar-brand {
    background: #FFFFFF;
    padding: 20px 3rem;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
}
.navbar-nav {
    padding: 0 2rem;
}
@media (max-width: 992px) {
    .navbar-nav {
        padding: 0;
    }
}
.dropdown-menu {
    top: 5px;
    padding-top: 55px;
    background: url('../images/header-triangle.png') top left no-repeat;
    background-position: 0 35px;
    border-color: #0070C2;
    border-radius: 0 0 .25rem .25rem;
    -moz-border-radius: 0 0 .25rem .25rem;
    -webkit-border-radius: 0 0 .25rem .25rem;
    -ms-border-radius: 0 0 .25rem .25rem;
}
.dropdown-menu a {
    font-size: .8em;
    color: #0070C2;
}
nav a{
    color: inherit;
}
@media (max-width: 992px) {
    nav {
        width: auto;
        margin: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
    }
    .navbar {
        padding: .5rem 1rem;
    }
    .navbar-brand {
        background: #FFFFFF;
        padding: 10px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
    }
}
#main {
    height: 675px;
    padding-top: 180px;
    background: url('../images/main-background.png') #FFFFFF bottom center no-repeat;
    background-size: cover;
}
#main .large-text {
    color: #0070C2;
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: 20px;
}
#main .small-text {
    font-size: 1.1em;
    margin-bottom: 40px;
}
#main .slide-item {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transition: transform .5s cubic-bezier(.5,0,.3,1);
    -moz-transition: transform .5s cubic-bezier(.5,0,.3,1);
    -webkit-transition: transform .5s cubic-bezier(.5,0,.3,1);
    -ms-transition: transform .5s cubic-bezier(.5,0,.3,1);
}
#main .slide-item.active {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    height: auto;
}
#main ul.slide-button {
    list-style: none;
    padding: 0;
    margin: 0;
}
#main ul.slide-button li {
    font-size: 2.5em;
    color: #919191;
    cursor: pointer;
    display: inline;
}
#main ul.slide-button li.active {
    color: #0070C2;
}
.brand-pattern {
    background: #F8F8F8;
    padding: 20px 0;
}
.brand-pattern .pattern-scroll {
    overflow: hidden;
}
.brand-pattern .pattern-container{
    width: 4000px;
    margin-left: -100px;
    height: 150px;
}
.section-title {
    font-size: 1.8em;
    text-align: center;
    font-weight: 600;
}
.subtitle {
    max-width: 500px;
    margin: 10px auto 60px auto;
    text-align: center; 
}
.sub-section-title {
    font-size: 1.2em;
}
#address-challenge {
    padding: 100px 0;
    background: url('../images/we-address-challenge-background.png') #0070C2 bottom center no-repeat;
}
#address-challenge h2{
    color: #FFF;
}
ul.address-challenge-item {
    list-style: none;
    padding: 40px 0;
    margin: 0 0 100px 0;
    text-align: center;
}
ul.address-challenge-item li {
    width: 20%;
    display: block;
    float: left;
}
@media (max-width: 992px) {
    ul.address-challenge-item {
        margin-bottom: 20px;
    }
    ul.address-challenge-item li {
        width: 50%;
    }
    ul.address-challenge-item li:last-child {
        margin-left: 25%;
    }
}
ul.address-challenge-item:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
ul.address-challenge-item li .wrapper {
    margin: 5px;
    padding: 30px 10px;
    background: #FFF;
}
ul.address-challenge-item li .wrapper > .thumbnail {
    vertical-align: middle;
    margin-bottom: 20px;
}
ul.address-challenge-item li .wrapper > .thumbnail img{
    vertical-align: middle;
    width: 70%;
}
ul.address-challenge-item li .wrapper > .caption {
    font-weight: bold;
    color: #FF8256;
    font-size: 1.1em;
    padding: 0 10px;
    height: 42px;
    overflow: hidden;
}
.solution {
    background: url('../images/solution-background.png') #F8F8F8 no-repeat; 
    background-size: 100%;
    background-position: bottom center;
    padding: 100px 0;
}
.solution .section-title {
    color: #FF8256;
    margin-bottom: 60px;
}
.solution .sub-section-title{
    color: #0070C2;
    font-weight: 600;
    margin-bottom: 40px;
}
.solution .item {
    background: #FFFFFF;
    text-align: center;
    padding: 30px 20px;
}
.solution .item .image {
    padding: 20px 0;
}
.solution .item .image img{
    max-width: 50%;
}
.solution .item .item-title {
    margin-bottom: 10px
}
.solution .item .caption,
.solution ul.item-5 li .card .card-text {
    color: #DDDDDD;
    font-size: 1.1em;
}
.solution .item .caption {
    height: 84px;
    overflow: hidden;
}
.solution .item h3,
.solution ul.item-5 li .card .card-title {
    color: #FF8256;
    font-weight: bold;
    font-size: 1.3em;
    height: 42px;
    overflow: hidden;
}
.solution ul.item-5 {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.solution ul.item-5:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.solution ul.item-5 li {
    float: left;
    display: block;
    margin-right: 1.25%;
    width: 19%;
}
.solution ul.item-5 li:last-child {
    margin-right: 0;
}
@media (max-width: 992px) {
    .solution ul.item-5 li {
        width: 47.5%;
        margin: 20px 0;
    }
    .solution ul.item-5 li:nth-child(2n + 1) {
        margin-right: 5%;
    }
    .solution ul.item-5 li:last-child {
        margin-left: 26.25%;
    }
}
#about {
    background: url('../images/about-background.png'); 
    background-size: cover;
    padding: 100px 0;
    color: #FFFFFF;
}
#about h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 40px;
}
#about .caption {
    line-height: 2em;
}
#about h2 .bold {
    font-weight: 600;
}
#about .core-value-item {
    font-size: 1.1em;
    text-transform: uppercase;
    margin: 10px 0;
}
#about .core-value-item img {
    width: 60px;
}
#about .about-video {
    margin-bottom: 40px;
}
#about .section-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.quote {
    background: #016FC2;
    padding: 80px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.4em;
}
.quote .quote-body {
    font-weight: 600;
}

#team {
    padding: 100px 0 40px 0;
}
#team .subtitle {
    color: #999999;
}
#team .member {
    text-align: center;
    margin-bottom: 40px;
}
#team .member > .thumbnail {
    margin-bottom: 20px;
    position: relative;
}
#team .member > .thumbnail img {
    width: 100%;
}
#team .member > .thumbnail .overlay {
    position: absolute;
    background: #0070C2;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    opacity: 0;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}
#team .member > .thumbnail .overlay a {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    color: inherit;
    font-size: 1.1em;
}
#team .member > .thumbnail:hover .overlay {
    opacity: 1;
}
#team .member .name {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 600;
    height: 21px;
    overflow: hidden;
    margin-bottom: 30px;
}
#team .member .title {
    color: #666666;
    text-transform: uppercase;
    margin: 0 auto 35px auto;
    font-weight: 600;
    line-height: 1.4;
    height: 36px;
    overflow: hidden;
    width: 80%;
}
#team .member .caption {
    color: #666666;
    line-height: 2em;
    height: 78px;
    overflow: hidden;
    margin: auto;
    width: 90%;
}
#deliver-value {
    background: url('../images/how-we-deliver-background.png') no-repeat; 
    background-size: cover;
    padding: 200px 0 70px 0;
    margin-top: -350px;
    color: #FFFFFF;
}

#deliver-value .subtitle {
    margin-bottom: 100px;
}
#deliver-value .animation {
    padding: 0 20px;
    text-align: center;
}
#deliver-value .animation img {
    max-width: 100%;
}

#calculate-tco {
    padding: 80px 0;
    text-align: center;
}

#calculate-tco h2 {
    color: #016FC2;
    font-weight: 1.4em;
}

#calculate-tco .outer-container {
    background: #016FC2;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
}
#calculate-tco .inner-container {
    margin-bottom: 35px;
    padding: 50px 50px 30px 50px;
    background: #FFFFFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
}
#calculate-tco .inner-container p {
    color: #999999;
    margin: 20px 0; 
}
/* client said */
#client-said {
    padding: 100px 0;
}
#client-said .slick-container .item {
    padding: 10px;
}
#client-said .slick-container .item .card-body {
    background: #0070C2;
    color: #FFFFFF
}
#client-said .slick-container .item .card-body > div {
    margin-bottom: 15px;
}
#client-said .slick-container .item .card-footer {
    padding: 20px;
    background: #FFFFFF;
}
#client-said .slick-container .item .card-footer p {
    margin: 0;
    padding: 0;
}
#client-said .slick-container .item .card-text {
    line-height: 2em;
    height: 130px;
    overflow: hidden;
}
#client-said .slick-container .item .name {
    font-size: 1.3em;
    font-weight: 600;
}
#client-said .slick-container .item .company-logo {
    margin-bottom: 20px;
}
#client-said .slick-container .item .company-logo img {
    height: 12px;
}
#client-said .slick-container .item .company-overlay {
    top: 20%;
    left: 0;
    width: 100%;
    height: 80%;
    background: #000000;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
#client-said .slick-container .item .company-description {
    margin-top: 30%;
    padding: 20px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
#client-said .slick-container .item .company-description .company-name {
    font-size: 1.3em;
    font-weight: 600;
}
#client-said .slick-container .item .company-description p{
    line-height: 2em;
    height: 130px;
    overflow: hidden;
}
#client-said .slick-container .item .company-hidden:hover .company-description {
    opacity: 1;
}
#client-said .slick-container .item .company-hidden:hover .company-overlay {
    opacity: 0.8;
}
#client-said .next-testimonial,
#client-said .prev-testimonial {
    background: #ffffff;
    color: #919191;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    width: 40px;
    height: 40px;
}
#client-said .next-testimonial:focus,
#client-said .prev-testimonial:focus {
    outline: none;
}
#client-said .next-testimonial:hover,
#client-said .prev-testimonial:hover {
    outline: none;
    background: #FF8256;
    color: #FFFFFF;
}

/* end client said */


/* blog */
#blog {
    background: #F8F8F8;
    padding: 100px 0;
}
#blog .card {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}
#blog .card p {
    line-height: 1.7em;
}
#blog .blog-img {
    height: 245px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
#blog .card-title {
    color: #0070C2;
    font-weight: 600; 
    height: 50px;
    overflow: hidden;
    margin-bottom: 30px;
}
#blog .card-text {
    height: 64px;
    overflow: hidden;
    margin-bottom: 30px;
}
#blog .highlighted .card-body {
    padding: 25px 40px;
}
#blog .highlighted .card-title {
    margin-bottom: 20px;
    height: 58px;
}
#blog .highlighted .card-text {
    height: 42px;
}

#blog .highlighted .card-title {
    font-size: 1.8em;
}
#blog .card .side {
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog .card .btn {
    margin-bottom: 10px;
}
/* end blog */

/* in touch */
#in-touch {
    padding: 100px 0;
    background: url('../images/in-touch-background.png') center no-repeat;
    background-size: cover;
}
#in-touch .section-title,
#in-touch .subtitle {
    color: #FFFFFF;
}
#in-touch .form-contact {
    padding: 20px 25px;
    background: #FFFFFF;
}
#in-touch .form-contact input,
#in-touch .form-contact textarea {
    font-size: 0.9em;
    padding: 25px 10px;
    font-weight: 600;
}
#in-touch .form-contact textarea {
    padding: 15px 10px;
    min-height: 100px;
}
#in-touch .form-group {
    margin-bottom: 0.5rem;
}
/* end in touch */

footer {
    background: #2E2E2E;
    color: #FFFFFF;
    padding: 90px 0 0 0;
}
footer .faq {
    text-align: right;
}
footer h2 {
    color: #FF8256;
    font-weight: bold;
}
footer h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}
footer ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer ul.menu li {
    padding: 4px 0;
}
footer ul.menu li a{
    color: inherit;
    font-size: 0.9em;
}
footer .social {
    margin: 20px 0;
}
footer .social a {
    color: #FFFFFF;
    font-size: 2em;
}
footer .partner-logo img{
    max-width: 100%;
}
footer input.form-control {
    font-size: 0.9em;
    padding: 18px 10px;
    font-weight: 600;
}

@media (max-width: 767.98px) { 
    footer .faq {
        text-align: left;
    }
}

ul.fixed-inquiries {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 45%;
    right: 0;
    width: 110px;
    color: #FFFFFF;
    text-align: right;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
}
ul.fixed-inquiries li a {
    color: inherit;
    font-weight: 300;
    line-height: 1.3em;
}
ul.fixed-inquiries li a:hover {
    text-decoration: none;
}
ul.fixed-inquiries li a i {
    display: block;
    float: right;
    padding: 10px;
    background: #FF8256;
    z-index: 2;
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    font-size: 1.4em;
}
ul.fixed-inquiries li:first-child a i {
    border-radius: 5px 0 0 0;
}
ul.fixed-inquiries li:last-child a i {
    border: none;
    border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    -ms-border-radius: 0 0 0 5px;
}
ul.fixed-inquiries li a span {
    padding: 11px 10px;
    position: absolute;
    display: block;
    right: -100px;
    width: 100px;
    background: #FF8256;
    text-align: left;
    transition: ease 0.3s all;
    -moz-transition: ease 0.3s all;
    -webkit-transition: ease 0.3s all;
    -ms-transition: ease 0.3s all;
    z-index: 1;
}
ul.fixed-inquiries li:hover a span {
    transform: translate(-120px,0)
}
ul.fixed-inquiries li:first-child a span {
    border-radius: 5px 0 0 0;
}
ul.fixed-inquiries li:last-child a span {
    border-radius: 0 0 0 5px;
}
ul.fixed-inquiries li a:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

/* bootstrap overwrite */
.btn-theme {
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 25px;
}
.btn-primary {
    color: #fff;
    background-color: #FF8256;
    border-color: #FF8256;
}
  
.btn-primary:hover {
    color: #FF8256;
    background-color: #FFFFFF;
    border-color: #FF8256;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #FF8256;
    border-color: #FF8256;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF8256;
    border-color: #FF8256;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-transparent {
    color: #FFFFFF;
    background: transparent;
    border-color: #FFFFFF;
}

.btn-transparent:hover {
    background: #FFFFFF;
}

.input-transparent {
    border-color: #FFFFFF;
    color: #FFFFFF;
    background: transparent;
}

.input-transparent:focus {
    border-color: #FF8256;
}

.text-primary {
    color: #FF8256 !important;
}
.text-secondary {
    color: #919191 !important;
}
/* bootstrap overwrite */

/* float clear */
.solution ul.item-5:after,
#client-said .testimonial .item:after,
nav:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.bottom-sm {
    margin-bottom: 20px;
}
.bottom-md {
    margin-bottom: 40px;
}
.bottom-lg {
    margin-bottom: 100px;
}

.padding-bottom-sm {
    padding-bottom: 20px;
}
.padding-bottom-md {
    padding-bottom: 40px;
}
.padding-bottom-lg {
    padding-bottom: 100px;
}